<%= render(Spina::UserInterface::ModalComponent.new) do |component| %>
  <%= form_with model: @product, url: spina.admin_product_path(@product), data: {turbo_frame: "_top"} do |f| %>
    <div class="px-4 pt-5 sm:p-6 sm:pb-4">
      <div class="sm:flex sm:items-start">
        <div class="mt-3 text-center sm:mt-0 sm:text-left">
          <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
            <%= t('spina.products.pick_version') %>
          </h3>
          <div class="mt-2">
            <p class="text-sm leading-5 text-gray-500 mb-4">
              <%= t('spina.products.pick_version_long') %>
            </p>
            <%= f.select :active_product_draft, options_for_select(Spina::ProductDraft.where(product_id: @product.id).order(id: :desc).map{ |draft| ["#{t('spina.products.version')} #{draft.version_id} – #{draft.product_name(@locale)}: #{draft.created_at.localtime.strftime("%d.%m.%Y, %H:%M:%S")}", draft.id] }, selected: Spina::ProductDraft.where(product_id: @product.id).where(version_id: @product.version_id).first.id), {}, class: "mt-1 form-select w-full" %>
          </div>
        </div>
      </div>
    </div>
    <div class="px-4 py-6 sm:px-6 sm:flex sm:flex-row-reverse">
      <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
        <button type="submit" class="btn btn-primary">
          <%=t 'spina.products.change_version' %>
        </button>
      </span>
      <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
        <button type="button" class="btn btn-default" data-action="modal#close">
          <%=t 'spina.ui.cancel' %>
        </button>
      </span>
    </div>
  <% end %>
<% end %>
