<%= render Spina::UserInterface::HeaderComponent.new do |header| %>
  <% header.actions do %>
    <div class="flex gap-3 flex-wrap">
      <div class="relative w-auto" data-controller="reveal" data-reveal-away-value>
        <button type="button" class="btn btn-default px-3 w-full" data-action="reveal#toggle">
          <svg class="w-5 h-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
          </svg>
        </button>

        <div hidden data-reveal data-transition class="origin-top-left lg:origin-top-right absolute lg:right-0 mt-2 w-56 rounded-md shadow-lg border border-gray-200">
          <div class="rounded-md bg-white shadow-xs">
            <div class="py-1">
              <% if Spina::ProductDraft.where(product_id: @product.id).length > 1 %>
                <%= link_to t('spina.products.old_version') + "...", spina.edit_draft_admin_product_path(@product), class: "block px-4 py-2 text-sm font-medium leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900", data: {turbo_frame: "modal", action: "reveal#hide"} %>
              <% else %>
                <span class="block px-4 py-2 text-sm leading-5 text-gray-400"><%= t('spina.pages.no_old_version_available') %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%= button_tag type: :submit, form: @product.object_id, class: 'btn btn-primary self-start z-10', data: {controller: "button", action: "button#loading", loading_message: t('spina.ui.saving')} do %>
        <%= heroicon('check', style: :mini, class: 'w-5 h-5 -ml-1 mr-1') %>
        <%=t 'spina.products.save' %>
      <% end %>
    </div>
  <% end %>
<% end %>
<p class="px-4 md:px-8 md:-mt-14"><small><%= "#{t('spina.ingredients.version')} #{@product.version_id}" %></small></p>
<div class="p-4 md:p-8" data-controller="product-ingredients">
  <%= form_with model: @product, url: spina.admin_product_path(@product), id: @product.object_id, data: {action: "product-ingredients#fillProductForm"} do |f| %>
    <% locales = ([@locale] + Spina.locales.reject{|l| l.to_s.downcase == @locale.to_s.downcase}) %>
    <% locales.each do |locale| %>
      <h2 class="<%= "pt-6" unless locales.first == locale %> pb-4 block leading-5 font-medium text-gray-700"><%= "#{t("spina.languages.#{locale}")}#{": #{@product.json_attributes["#{locale}_content"]["name"]}" if @product.json_attributes["#{locale}_content"].present?}" %></h2>
      <%= f.hidden_field "#{locale}_name".to_sym, value: @product.json_attributes["#{locale}_content"].present? ? @product.json_attributes["#{locale}_content"]["name"] : "" %>
      <div>
        <label class="block text-sm leading-5 font-medium text-gray-700"><%= t('spina.products.subtitle') %></label>
        <div class="mt-1">
          <%= f.text_area "#{locale}_subtitle".to_sym, class: "form-input mt-1 w-full", value: @product.json_attributes["#{locale}_content"].present? ? @product.json_attributes["#{locale}_content"]["subtitle"] : "" %>
        </div>
      </div>
      <div class="my-6" data-controller="unique-id" data-unique-id="<%= f.object.object_id %>">
        <label class="block text-sm leading-5 font-medium text-gray-700"><%= t('spina.products.description') %></label>
        <div class="mt-1 relative">
          <% if @product.json_attributes["#{locale}_content"].present? %>
            <%= f.hidden_field "#{locale}_description".to_sym, value: @product.json_attributes["#{locale}_content"]["description"], id: "#{f.object.object_id}_input" %>
          <% else %>
            <%= f.hidden_field "#{locale}_description".to_sym, id: "#{f.object.object_id}_input" %>
          <% end %>
          <div class="relative form-textarea p-4 pt-0 shadow-sm max-w-5xl" data-controller="trix" id="<%= "insert_#{f.object.object_id}_trix-toolbar" %>" data-action="media-picker:done->trix#insertAttachment">
            <div class="absolute inset-0 bg-white flex justify-center items-center rounded-md z-20 transition-opacity" data-trix-target="load"></div>
            <%= render Spina::Forms::TrixToolbarComponent.new("#{f.object.object_id}_trix-toolbar") %>

            <trix-editor class="min-h-6 prose prose-sm focus:outline-none max-w-3xl xl:border-r border-dashed border-gray-200 pr-3" toolbar="<%= f.object.object_id %>_trix-toolbar" input="<%= f.object.object_id %>_input" data-trix-target="editor" data-action="trix-file-accept->trix#preventDefault"></trix-editor>
          </div>
        </div>
      </div>
      <%= render 'image_form', locale: locale, f: f %>
      <hr>
    <% end %>
    <turbo-frame id="product-ingredients" src=<%= spina.admin_product_product_ingredients_path(@product) %>></turbo-frame>
    <%= f.hidden_field :product_ingredient_string, data: { product_ingredients_target: "productForm" } %>
  <% end %>
</div>
