<%= render Spina::UserInterface::HeaderComponent.new do |header| %>
  <% header.actions do %>
    <%= render Spina::UserInterface::TranslationsComponent.new(@account, label: @locale.upcase) %>
  <% end %>
<% end %>
<turbo-frame id="ingredient_list">
  <div class="pt-6 pb-4 px-4 md:px-8 flex flex-wrap gap-3 justify-between items-center">
    <div class="flex grow">
      <h2 class="block leading-5 font-medium text-gray-700"><%= t('spina.ingredients.old_ingredients') %></h2>
      <div class="flex grow"></div>
    </div>
    <div>
      <%= form_with url: spina.admin_ingredients_path, class: "relative", data: {controller: "clear"}, method: :get do |f| %>
        <%= f.text_field :query, class: "form-input #{params[:query].present? ? 'pr-16' : 'pr-8'} w-full", data: {clear_target: "input"}, value: params[:query] %>
        <%= f.hidden_field :sort, value: params[:sort] %>
        <% if params[:query].present? %>
          <%= button_tag type: :submit, class: 'absolute inset-y-0 right-6 p-2 z-10 cursor-pointer hover:scale-120', data: {action: "clear#clear"} do %>
            <%= heroicon('x-mark', style: :mini, class: 'w-5 h-5') %>
          <% end %>
        <% end %>
        <%= button_tag type: :submit, class: 'absolute inset-y-0 right-0 p-2 z-10 cursor-pointer hover:scale-120' do %>
          <%= heroicon('magnifying-glass', style: :mini, class: 'w-5 h-5') %>
        <% end %>
      <% end %>
    </div>
    <div class="flex grow">
      <div class="flex grow"></div>
      <div class="relative w-fit" data-controller="reveal" data-reveal-away-value>
        <button type="button" class="btn btn-default px-3 w-full" data-action="reveal#toggle">
          <%= heroicon('arrows-up-down', style: :mini, class: 'w-5 h-5 -ml-1 mr-1') %>
          <%= t('spina.ingredients.sort') %>
        </button>
        <div hidden data-reveal data-transition class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg border border-gray-200 bg-white py-1">
          <%= link_to t('spina.ingredients.sort_az'), spina.admin_ingredients_path(sort: :sort_az), class: "block px-4 py-2 text-sm font-medium leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" %>
          <%= link_to t('spina.ingredients.sort_za'), spina.admin_ingredients_path(sort: :sort_za), class: "block px-4 py-2 text-sm font-medium leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" %>
          <%= link_to t('spina.ingredients.sort_19'), spina.admin_ingredients_path(sort: :sort_19), class: "block px-4 py-2 text-sm font-medium leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" %>
          <%= link_to t('spina.ingredients.sort_91'), spina.admin_ingredients_path, class: "block px-4 py-2 text-sm font-medium leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" %>
        </div>
      </div>
    </div>
  </div>
  <% if @ingredients.empty? %>
    <div class="pt-6 pb-4 px-4 md:px-8">
      <h2 class="block leading-5 font-medium text-gray-700"><%= t('spina.ingredients.no_ingredients') %></h2>
    </div>
  <% else %>
    <div class="mt-4 mb-6 mx-4 md:mx-8 rounded-md border border-solid border-gray-200 shadow-sm max-h-[470px] overflow-y-scroll">
      <% @ingredients.each do |ingredient| %>
        <%= link_to edit_admin_ingredient_path(ingredient, locale: @locale), class: "border-t border-gray-200 first:border-t-0 first:rounded-t-md last:rounded-b-md" do %>
          <div class="py-3 p-8 text-gray-700 flex justify-between flex-wrap gap-2 bg-inherit rounded-inherit border-inherit-all hover:bg-gray-200 active:shadow-inner">
            <div><%= ingredient.ingredient_name(@locale) %></div>
            <div class="flex gap-2">
              <% Spina.locales.each do |locale| %>
                <% if ingredient.json_attributes["#{locale}_content"].present? %>
                  <% if ingredient.json_attributes["#{locale}_content"]["name"].present? && ingredient.json_attributes["#{locale}_content"]["description"].present? && ingredient.json_attributes["#{locale}_content"]["signed_blob_id"].present? && ingredient.json_attributes["#{locale}_content"]["filename"].present? && ingredient.json_attributes["#{locale}_content"]["image_id"].present? %>
                    <div class="px-2 py-1 text-xs rounded-md bg-spina text-white"><%= "#{locale.upcase}" %></div>
                  <% elsif ingredient.json_attributes["#{locale}_content"]["name"].present? || ingredient.json_attributes["#{locale}_content"]["description"].present? %>
                    <div class="px-2 py-1 text-xs rounded-md bg-amber-400"><%= "#{locale.upcase}" %></div>
                  <% else %>
                    <div class="px-2 py-1 text-xs rounded-md bg-red-600 text-white"><%= "#{locale.upcase}" %></div>
                  <% end %>
                <% else %>
                  <div class="px-2 py-1 text-xs rounded-md bg-red-600 text-white"><%= "#{locale.upcase}" %></div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</turbo-frame>
<div class="py-4 px-4 md:px-8 font-medium text-gray-700">
  <%= link_to t('spina.ingredients.new_ingredient'), new_admin_ingredient_path(locale: @locale), class: "btn btn-primary w-fit" %>
</div>
