<%= render Spina::UserInterface::HeaderComponent.new do |header| %>
  <% header.actions do %>
    <%= render Spina::UserInterface::TranslationsComponent.new(@account, label: @locale.upcase) %>
  <% end %>
<% end %>
<div class="pt-6 pb-4 px-8">
  <h2 class="block leading-5 font-medium text-gray-700"><%= t('spina.ingredients.old_ingredients') %></h2>
</div>
<% @ingredients.each do |ingredient| %>
  <div class="py-4 p-8 text-gray-700">
    <%= link_to ingredient.ingredient_name(@locale), edit_admin_ingredient_path(ingredient) %>
  </div>
<% end %>
<div class="py-4 p-8 font-medium text-gray-700">
  <%= link_to t('spina.ingredients.new_ingredient'), new_admin_ingredient_path %>
</div>
